bin/
obj/
publish/

.idea/
*.sln.iml

appsettings.json
appsettings.Development.json
appsettings.Production.json

.vs/
*.user
*.userosscache
*.sln.docstates
*.suo

*.db
*.sqlite
*.sqlite3
*.log

.DS_Store
Thumbs.db
desktop.ini
$RECYCLE.BIN/

TestResults/